        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Welcome </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-2	">

            <!-- Nav Item - Dashboard -->
            {% if data.role=="admin" %}
            <li class="nav-item ml-5">
                <a class="nav-link" href="/{{ data.role }}/users">
                    <i class="fas fa-users"></i>
                  <span>Users</span></a>
            </li>
            {% endif %}
            <li class="nav-item ml-5">
                <a class="nav-link" href="/{{ data.role }}/tickets">
                    <i class="fas fa-fw fa-table"></i>
                  <span>Tickets</span></a>
            </li>
            {% if data.role != "user" %}
            <li class="nav-item ml-5">
                <a class="nav-link" href="/{{ data.role }}/projects">
                    <i class="fa fa-cubes"></i>
                  <span>Projects</span></a>
            </li>
            {% endif %}

            <!-- Divider -->
            <hr class="sidebar-divider">

            

        </ul>
        <!-- End of Sidebar -->