 <!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
        {% if data.page == "tickets" %}
            My Tickets
        {% elif data.page == "ticket_detail" %}
            Ticket Detail
        {% endif %}
        
        </h6>
</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Ticket ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Project</th>
                        <th>Priority</th>
                        <th>Status</th>
                        {% if data.role == 'dev' %}
                            <th>Developer assigned</th>
                        {% endif %}
                        <th>Created date</th>
                        <th>Closed date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in data.ticket %}
                    <tr>
                        <td>{{ t.id }}</td>
                        <td>{{ t.title }}</td>
                        <td>{{ t.desc }}</td>
                        <td>{{ t.p_id }}</td>
                        <td>{{ t.priority }}</td>
                        <td>{{ t.status }}</td>
                        {% if data.role == 'dev' %}
                            <td>{{ t.users_id }}</td>
                        {% endif %}
                        <td>{{ t.create_date }}</td>
                        <td>{{ t.close_date }}</td>
                        {% if data.page == "tickets" %}
                            <td><a href="/ticket-details/{{ t.id }}">details</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>