 <!-- DataTales Example -->
 {% if data.page!="project_detail" %}
<div class="card shadow mb-4 ml-2">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
                My Tickets
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            {% endif %}
                <thead>
                    <tr>
                        {% if data.page !='project_detail' %}
                            <th>Ticket ID</th>
                        {% endif %}
                        <th>Title</th>
                        {% if data.page !='project_detail' %}
                            <th>Description</th>
                            <th>Project</th>
                            {% endif %}
                        <th>Priority</th>
                        <th>Status</th>
                        {% if data.role == 'dev' or data.role=='manager' %}
                            <th>Developer</th>
                        {% endif %}
                        {% if data.page !='project_detail' %}
                            <th>Created date</th>
                            <th>Closed date</th>
                        {% endif %}
                        {% if data.page == "tickets" or data.page == 'project_detail' %}
                            <th> </th>
                        {% endif %}
                        {% if data.page == "ticket_detail" and data.role!='user' %}
                            <th> </th>
                        {% endif %}
                        
                    </tr>
                </thead>
                <tbody>
                    {% for t in data.ticket %}
                    <tr>
                        {% if data.page !='project_detail' %}
                            <td>{{ t.id }}</td>
                        {% endif %}
                        <td>{{ t.title }}</td>
                        {% if data.page !='project_detail' %}
                            <td>{{ t.desc }}</td>
                            <td>{{ t.p_id }}</td>
                            {% endif %}
                        <td>{{ t.priority }}</td>
                        {% if data.page=="ticket_detail" and (data.role=="dev" or data.role=="manager" ) %}
                            <td>
                                {% if user_id == data.ticket[0].id or data.ticket[0].status !='closed' %}
                                    <button class="btn btn-info btn-icon-split" id="myBtn">{{ t.status }}</button>
                                {% else %}
                                    {{ t.status }}
                                {% endif %}
                                <div id="myModal" class="modal1">
                                    <div class="modal-content1">
                                        <form action="/change-status" method="POST">
                                            Status:
                                            <select name="status">
                                                {% for s in data.status %}
                                                    {% if t.status == s %}
                                                        <option value="{{ s }}" selected="selected">{{ s }}</option>
                                                    {% else %}
                                                    <option value="{{ s }}">{{ s }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <input type="hidden" name="ticketid" value="{{ t.id }}" />
                                            <input type="hidden" name="projectid" value="{{ t.p_id }}" />
                                            <br><br>
                                            <input type="submit" class="btn btn-info btn-icon-split" value="Change" />
                                        </form>
                                    </div>
                                </div>
                                
                            </td>
                        {% else %}
                            <td>{{ t.status }}</td>
                        {% endif %}
                        {% if data.role == 'dev' or data.role=='manager' %}
                            <td>{{ t.user_name }}</td>
                        {% endif %}
                        {% if data.page !='project_detail' %}
                            <td>{{ t.create_date }}</td>
                            <td>{{ t.close_date }}</td>
                        {% endif %}
                        {% if data.page == "tickets" or data.page == 'project_detail' %}
                            <td><a href="/ticket-details/{{ t.id }}">details</td>
                        {% endif %}
                        {% if data.page == "ticket_detail" and data.role == "admin" %}
                            <td>
                                <a href="/ticket-form?edit=true&ticketid={{ t.id }}">Edit</a>
                                <a href="/delete-ticket/{{ t.id }}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
