{% include '/includes/head.html' %}

    <title>{{ data.role }}</title>

</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">


        {% include '/includes/sidebar.html' %}

       <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include '/includes/topbar.html' %}

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% if data.role == "admin" and data.page!="projects" and data.page!="tickets" %}
                    <a href="/user-form" class="btn btn-info btn-icon-split">
                        <span class="text">Add User</span>
                    </a>

                    <hr>
                    <div>
                        {% include '/includes/usersTable.html' %}
                    </div>
                    
                    {% endif %}

                    {% if data.page == "tickets" %}
                    <!-- Page Heading -->
                        <a href="/ticket-form?edit=false" class="btn btn-info btn-icon-split">
                            <span class="text">Create Ticket</span>
                        </a>
                        {% if data.role == "dev" %}
                            <a href="/dev/tickets" class="btn btn-info btn-icon-split">
                                <span class="text">All Ticket</span>
                            </a>
                            <a href="/dev/assigned-tickets" class="btn btn-info btn-icon-split">
                                <span class="text">Assigned Ticket</span>
                            </a>
                            <a href="/dev/my-tickets" class="btn btn-info btn-icon-split">
                                <span class="text">Submitted Ticket</span>
                            </a>
                        {% endif %}
                        <hr>
                        <div>
                            {% include '/includes/ticketTable.html' %}
                        </div>
                        
                    {% elif data.page == "projects" %}

                        {% include '/includes/projectList.html' %}
                    
                    {% endif %}

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% include '/includes/footer.html' %}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    {% include '/includes/logout.html' %}

    {% include '/includes/jsimport.html' %}
   
</body>

</html>