{% include '/includes/head.html' %}

    <title>{{ data.role }}</title>

</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">


        {% include '/includes/sidebar.html' %}

       <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include '/includes/topbar.html' %}

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% if data.role == "admin" and data.page!="projects" and data.page!="tickets" %}
                    <a href="/user-form" class="btn btn-info btn-icon-split">
                        <span class="text">Add User</span>
                    </a>
                    <hr>
                    <div>
                        {% include '/includes/usersTable.html' %}
                    </div>
                    
                    {% endif %}
                    {% if data.role=="admin" and data.page=="projects" %}
                        <a href="/project-form" class="btn btn-info btn-icon-split">
                            <span class="text">Create Project</span>
                        </a>
                        <br>
                    {% endif %}

                    {% if data.page == "tickets" %}
                    <!-- Page Heading -->
                        {% if data.role!="admin" %}
                            <a href="/ticket-form?edit=false" class="btn btn-info btn-icon-split">
                                <span class="text">Create Ticket</span>
                            </a>
                            <hr>
                        {% endif %}
                        {% if data.role == "dev" %}
                            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                                <ul class="navbar-tick">
                                    <li class="navbar-li dropdown no-arrow mx-1">
                                        {% if data.nav_bar=="alltickets" %}
                                            <a class="navbar-select" href="/dev/tickets">
                                        {% else %}
                                            <a class="navbar-a" href="/dev/tickets">
                                        {% endif %}
                                            <span class="text">All Ticket</span>
                                        </a>
                                    </li>
                                    <li class="navbar-li dropdown no-arrow mx-1">
                                        {% if data.nav_bar=="assignedtickets" %}
                                            <a class="navbar-select" href="/dev/assigned-tickets"></a>
                                        {% else %}
                                            <a class="navbar-a" href="/dev/assigned-tickets">
                                        {% endif %}
                                            <span class="text">Assigned Ticket</span>
                                        </a>
                                    </li>
                                    <li class="navbar-li dropdown no-arrow mx-1">
                                        {% if data.nav_bar=="submittedtickets" %}
                                            <a class="navbar-select" href="/dev/my-tickets">
                                        {% else %}
                                        <a class="navbar-a" href="/dev/my-tickets">
                                        {% endif %}
                                            <span class="text">Submitted Ticket</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        {% endif %}
                        {% if data.role=="manager" %}
                        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                            <ul class="navbar-tick">
                                <li class="navbar-li dropdown no-arrow mx-1">
                                    {% if data.nav_bar=="alltickets" %}
                                        <a class="navbar-select" href="/manager/tickets">
                                    {% else %}
                                        <a class="navbar-a" href="/manager/tickets">
                                    {% endif %}
                                            <span class="text">All Ticket</span>
                                        </a>
                                </li>
                                <li class="navbar-li dropdown no-arrow mx-1">
                                    {% if data.nav_bar=="submittedtickets" %}
                                        <a class="navbar-select"  href="/manager/my-tickets">
                                    {% else %}
                                        <a class="navbar-a"  href="/manager/my-tickets">
                                    {% endif %}
                                            <span class="text">Submitted Ticket</span>
                                        </a>
                                </li>
                            </ul>
                        </nav>
                        {% endif %}
                        
                        <div>
                            {% include '/includes/ticketTable.html' %}
                        </div>
                        
                    {% elif data.page == "projects" %}

                        {% include '/includes/projectList.html' %}
                    
                    {% endif %}

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% include '/includes/footer.html' %}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    {% include '/includes/logout.html' %}

    {% include '/includes/jsimport.html' %}
   
</body>

</html>