{% include '/includes/head.html' %}

    <title>{{ data.role }}</title>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">


{% include '/includes/sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include '/includes/topbar.html' %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
					<a href="/ticket-form" class="btn btn-info btn-icon-split">
                                        
                        <span class="text">Create Ticket</span>
                    </a>
					<hr>

                    {% include '/includes/ticketTable.html' %}

                    <form action="/add-comment" method="POST">
                        <label for="comment">Add Comment</label>

                        <br>
                        {% for t in data.ticket %}
                            <input type="hidden" name="ticket_id" value="{{ t.id }}" />
                        {% endfor %}
                        <input id="comment" type="text" name="comment"/>

                        <button type="submit" href="/">Submit</button>
                    </form>
                    <br>

                    <div class="row">
                        <div class="detailcard shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">History</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="80%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Developer assigned</th>
                                                <th>Status</th>
                                                <th>Priority</th>
                                                <th>Updated date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for d in data.detail %}
                                            <tr>
                                                <td>{{ d.users_id }}</td>
                                                <td>{{ d.status }}</td>
                                                <td>{{ d.priority }}</td>
                                                <td>{{ d.update_date }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--- comments     ---->
                        <div class="detailcard shadow mb-4 ml-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Comments</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <ul>
                                        {% for c in data.comment %}
                                        <li>
                                            <h5>{{ c.comment }}</h5>
                                            <h6>-by {{ c.users_id }} on {{ c.date }}<h6>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>



                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% include '/includes/footer.html' %}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    {% include '/includes/logout.html' %}

    {% include '/includes/jsimport.html' %}
   
</body>

</html>