<!DOCTYPE html>
<html>
  <head>
    <title>Ticket</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/form-style.css" type="text/css">
  </head>
  <body>
    <div class="testbox">
      <form action="/ticket-form" method="POST">

        <br/>
        <fieldset>
          <legend>Ticket Information</legend>
           <div class="colums">
          <div class="item">
            <label for="t_title"> Title<span>*</span></label>
            <input id="t_title" type="text" name="t_title" />
          </div>
          <div class="item">
            <label for="t_desc"> Description<span>*</span></label>
            <input id="t_desc" type="text" name="t_desc" />
          </div>
          <div class="item">
            <label for="project">Project<span>*</span></label>
			        <select name="project" id="project">
                {% for proj in data.project %}
			            <option value= {{ proj.id }} >{{ proj.name }}</option>
                {% endfor %}
			        </select>
          </div>
          <div class="item">
            <label for="t_priority">Priority<span>*</span></label>
			        <select name="t_priority" id="t_priority">
			          <option value="High">High</option>
			          <option value="Medium">Medium</option>
			          <option value="Low">Low</option>
			        </select>
          </div>

          <div class="item">
            <label for="t_type">Type<span>*</span></label>
            <input id="t_type" type="text" name="t_type" />
          </div>
 

              </div>
            </div>
          </div>
                </fieldset>
        <div class="btn-block">
          <button type="submit" href="/">Submit</button>
        </div>
      </form>
    </div>

  </body>
</html>