<!DOCTYPE html>
<html>
  <head>
    <title>Ticket</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/form-style.css" type="text/css">
  </head>
  <body>
    <div class="testbox">
      <form action="/update-ticket" method="POST">
        <br/>
        <fieldset>
          <legend>Ticket Information</legend>
           <div class="colums">
          <div class="item">
            <label for="t_title"> Title<span>*</span></label>
            {% if data.edit=="true" %}
              <input id="t_title" type="text" name="t_title" value="{{ data.ticket.title }}" />
            {% else %}
              <input id="t_title" type="text" name="t_title" />
            {% endif %}
          </div>
          <div class="item">
            <label for="t_desc"> Description<span>*</span></label>
            {% if data.edit=="true" %}
              <input id="t_desc" type="text" name="t_desc" value="{{ data.ticket.desc }}" />
            {% else %}  
              <input id="t_desc" type="text" name="t_desc" />
            {% endif %}
          </div>
          <div class="item">
            <label for="project">Project<span>*</span></label>
			        <select name="project" id="project">
                {% for proj in data.project %}
                  {% if data.edit=="true" %}
                    {% if data.ticket.p_id==proj.id %}
                      <option value={{ proj.id }} selected="selected" >{{ proj.name }}</option>
                    {% else%}
                      <option value={{ proj.id }} >{{ proj.name }}</option>
                    {% endif %}
                    {% else %}
                      <option value={{ proj.id }} >{{ proj.name }}</option>
                    {% endif %}
                {% endfor %}
			        </select>
          </div>
          <div class="item">
            <label for="t_priority">Priority<span>*</span></label>
			        <select name="t_priority" id="t_priority">
			          {% for p in data.priority %}
                  {% if data.edit=="true" %}
                    {% if data.ticket.priority==p %}
                      <option value={{ p }} selected="selected" >{{ p }}</option>
                    {% else%}
                      <option value={{ p }} >{{ p }}</option>
                    {% endif %}
                    {% else %}
                      <option value={{ p }} >{{ p }}</option>
                    {% endif %}
                {% endfor %}
			        </select>
          </div>

          <div class="item">
            <label for="t_type">Type<span>*</span></label>
            {% if data.edit=="true" %}
              <input id="t_type" type="text" name="t_type" value="{{ data.ticket.type }}"/>      
            {% else %}
              <input id="t_type" type="text" name="t_type" />
            {% endif %}
          </div>
 
          {% if data.edit=="true" %}
            <div class="item">
              <label for="t_status">Status<span>*</span></label>
              <select name="t_status" id="t_status">
                {% for p in data.status %}
                  {% if data.edit=="true" %}
                    {% if data.ticket.priority==p %}
                      <option value={{ p }} selected="selected" >{{ p }}</option>
                    {% else%}
                      <option value={{ p }} >{{ p }}</option>
                    {% endif %}
                    {% else %}
                      <option value={{ p }} >{{ p }}</option>
                    {% endif %}
                {% endfor %}
              </select>
            </div>
          {% endif %}

              </div>
            </div>
          </div>
                </fieldset>
        <div class="btn-block">
          {% if data.edit=="true" %}
            <input name="ticketid" type="hidden" value="{{ data.ticket.id }}">
            <input name="action" type="submit" href="/" value="update" style="width:5rem">
          {% else %}
            <input name="action" type="submit" href="/" value="new" style="width:5rem">
          {% endif %}
        </div>
      </form>
    </div>

  </body>
</html>