{% include '/includes/head.html' %}

    <title>{{ data.role }}</title>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">


{% include '/includes/sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include '/includes/topbar.html' %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    {% include '/includes/usersTable.html' %}
                    <hr>

                    <div class="row">
                        <div >
                            
                            <button class="btn btn-info btn-icon-split" id="myBtn" style="width:10rem">Assign Project</button>

                            <!-- The Modal -->
                            <div id="myModal" class="modal1">
                            
                              <!-- Modal content -->
                                <div class="modal-content1">
                                    <div class="detailcard shadow mb-4">
                                        <form action="/assign-project" method="POST">
                                            {% for u in data.users %}
                                                <input type="hidden" name="user_id" value="{{ u.id }}" />
                                            {% endfor %}
                                            Project:<br>
                                            <select name="project" id="project" style="width:15rem;">
                                                {% for all in data.all_projects %}
                                                    <option value= {{ all.id }}>{{ all.name }}</option>
                                                {% endfor %}
                                            </select>
                                            <br>
                                            Role: <br>
                                            <select name="role" id="role" style="width:15rem;">
                                                <option value= "dev">Developer</option>
                                                <option value= "user">User</option>
                                                <option value= "manager">Manager</option>
                                            </select>  
                                            <br><br>
                                            <input name="type" class="btn btn-info btn-icon-split" type="submit" value="Assign" />
                                        </form>
                                        
                                    </div>
                                </div>
                            
                            </div>  
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="detailcard shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Projects</h6> 
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Project Id</th>
                                                <th>Project Name</th>
                                                <th>Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for pro in data.projects %}
                                            <tr>
                                                <td>{{ pro.id }}</td>
                                                <td>{{ pro.name }}</td>
                                                {% for u in data.users %}
                                                    <td>
                                                        <a href="/user-remove-project?userid={{ u.id }}&projectid={{pro.id}}&project-details=true">
                                                            Remove
                                                        </a>
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--- Tickets     ---->
                        <div class="detailcard shadow mb-4 ml-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Tickets</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Ticket Id</th>
                                                <th>Ticket title</th>
                                                <th>Project Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for tick in data.ticket %}
                                            <tr>
                                                <td>{{ tick.id }}</td>
                                                <td><a href="/ticket-details/{{tick.id}}">{{ tick.title }}</a></td>
                                                <td>{{ tick.project }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>



                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% include '/includes/footer.html' %}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    {% include '/includes/logout.html' %}

    {% include '/includes/jsimport.html' %}
   
</body>

</html>